@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Quicksand:wght@400;600&family=Nunito:wght@300;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #edf4fa;
  color: #333;
  overflow-x: hidden;
}

body{
  opacity: 0;
  transition: opacity 0.2s;
}

h1{
  color:#4e4f78;
}

p{
  color:#3D3D3D;
}

ul{
  align-self: flex-start;
  margin-left:40px;
}

#lead{
  font-size:2.2em;
}
.centeredtext{
  width:70%;
  padding:20px;
  margin:0 auto;
  display:flex;
  gap:30px;
  margin-bottom:30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wcenteredtext{
  width:73%;
  margin:0 auto;
  display:flex;
  gap:30px;
  margin-bottom:30px;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.officer{
  width:100%;
  height:auto;
  margin-bottom:35px;
  text-align: center;
 
}
.officer h3{
  font-weight:normal;
  margin-bottom:25px;
}
.c{
  width:45%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:auto;
}
.lessmargin{
  margin-bottom: 15px !important;
}

#floated{
  float: left;
  padding:5px;
  width: 33%;

}
#floated img{
  width:100%;
  height:auto;
}
.centeredtext img {
  max-width: 50vw;
  width: auto;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}


/* Header */
#siteheader {
  position:relative;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom:40px;
  background: linear-gradient(135deg, #d7d8f0, #b3aede);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#siteheader-title {
  pointer-events:fill;
  font-size: 1.8rem;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}



#siteheader-content {
  transition-duration:0.3s;
    display: flex;
    align-items: center;
    flex-wrap: none;
    gap: 20px;
  }
  
  #siteheader-content a {
    font-size: 1.2rem;
    color: #ffffff;
    cursor: pointer;
  
    transition: color 0.3s ease;
  }
  
  #siteheader-content a:hover {
    color: #78779c;
  }

  #logoimg {
    
    height: 70px;
    width: auto;
    
  }

  .bar {
    height: 4px;
    background-color: rgb(63, 23, 66);
    transition: all 0.3s ease;
    border-radius: 2px;
  }
  
  #dropdiv {
    transition-duration:0.3s;
    position: absolute;
    right:20px;
    top:20px;
    opacity:0;
  }
  
  /* Hamburger Icon */
  #menu-toggle {
    width: 30px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1001;
  }
  
  .bar {
    height: 4px;
    background-color: rgb(93, 31, 78);
    border-radius: 2px;
    transition: all 0.3s ease;
  }

 
  

  #dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  #dropdown-menu a{
    transition-duration: 0.2s;
    
  }
  #dropdown-menu a:hover{
    color: #78779c;
  }
  
  #dropdown-menu a {
    margin: 8px 0;
    text-decoration: none;
    color: black;
  }
  
  /* Animate hamburger to X */
  #menu-toggle.open #bar1 {
    transform: rotate(45deg) translate(13px, 4px);
  }
  
  #menu-toggle.open #bar2 {
    opacity: 0;
  }
  
  #menu-toggle.open #bar3 {
   
    transform: rotate(-45deg) translate(10px, -1px);
  }
  .no-transition {
    transition: none !important;
  }
  